:root {
    --c1: #F9E2AF;
    --c2: #009FBD;
    --c3: #210062;
    --c4: #77037B;

    --t1: #ffe;
    --t2: #009FBD;
    --t3: #210062;
    --t4: #77037B;
}

*{
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    font-weight: normal;
    color: var(--c3);
    box-sizing: border-box !important;
    padding: 0;
    margin: 0;
    /* overflow: hidden; */
}

body{
    height: 100vh;
    /* background: linear-gradient(45deg, var(--c2), var(--c3)); */
}

a{
    cursor: pointer;
}
a:hover{
    text-decoration: underline;
}

.login-btn:hover{
    box-shadow: 0 0 50px rgba(255,255,255,.7);
    transform: scale(1.05);
    text-decoration: none;
}

.content{
    position: fixed;
    top: 80px;
    left: 0;
    min-height: calc(100vh - 80px);
    height: 100vh;
    width: 100vw;
    box-sizing: border-box;
    overflow: hidden;
}

.btn{
    width: max-content;
    cursor: pointer;
    padding: 10px 30px;
    border-radius: 50px;
    background: var(--c2);
    box-shadow: 0 0 10px rgba(255, 255, 255, .7);
    text-decoration: none;
    backdrop-filter: blur(10px);
    transition: 0.3s;
}
.btn:hover{
    box-shadow: 0 0 30px rgba(255, 255, 255, .7);
    transform: scale(1.05);
}



/* Table design */
table{
    border-collapse: collapse;
    width: 100%;
}
td{
    border: 2px solid #77037B;
    padding: 10px 20px;
    word-wrap: break-word;
}
