.hero{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: start;
}
.pattern{
    width: 100vw;
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
    opacity: .3;
    background: url("/img/pattern.png");
    background-size: cover;
    background-repeat: repeat;
    z-index: -1;
}

.action-hero{
    width: max-content;
    cursor: pointer;
    padding: 10px 30px;
    border-radius: 50px;
    transition: 0.3s;
    box-shadow: 0 0 30px rgba(255, 255, 255, .7);
    text-decoration: none;
    backdrop-filter: blur(10px);
    transition: 0.3s;
}

.hero-teks{
    width: 70%;
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding-left: 70px;
}
.hero-teks p{
    font-size: 32px;
    text-shadow: 0 0 10px rgba(0,0,0,.5);
}

.hero2{
    width: 30%;
    /* background: red; */
}
.hero-img{
    width: 300px;
    border-radius: 50%;
    box-shadow: 0 0 30px rgba(0,0,0,1);
}