.main-login{
    width: 100%;
    max-width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.card-container{
    min-width: 400px;
    background-color: var(--c1);
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 0 15px rgba(0,0,0,.7);
}

.form-group{
    display: flex;
    flex-direction: column;
    padding: 10px;
}
.form-group input{
    padding: 5px 20px;
    border-radius: 10px;
    color: rgb(0, 0, 0) !important;
}
.form-group.login {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}