nav{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 80px;
    max-height: 80px;
    display: flex;
    align-items: center;
    padding: 10px 70px;
}
nav *{
    z-index: 10;
}
.nav-bg{
    position: absolute;
    border-radius: 0;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    /* color: #fff; */
    background: rgba(255, 255, 255, .25);
    backdrop-filter: blur(2px);
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.4);
    transform: 0.5s;
    z-index: 9;
}

nav .nav1{
    width: 30%;
    height: 100%;
    display: flex;
    align-items: center;
    gap: 30px;
}
nav .nav1 > a{
    font-size: 24px;
    font-weight: bold;
}
nav .nav1>a:hover{
    text-decoration: none;
}
nav .nav1 > img{
    height: 50px;
    border-radius: 50%;
}
nav .nav1 > h1{
    font-weight: bold;
}

nav .nav2{
    width: 70%;
    height: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 50px;
}

nav .nav2 > .nav-list{
    width: 80%;
    display: flex;
    justify-content: end;
    gap: 40px;
    padding-right: 20px;
}

nav .nav2>.login{
    width: 10%;
    display: flex;
    justify-content: center;
}


